*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

.main{
    width:1190px;
    margin:0 auto;
}
.header{
    height:210px;
    .headTop{
        height:35px;
        background:#ddd;
        #aheader{
            height:35px;
        }
    }
    .headBottom{
        height:175px;
        background:#fff;
        
        .logo{
            height:80px;
            width:320px;
            float:left;
            display:flex;
            background:#fff;
            img{
                height:50px;
                width:130px;
                margin-top:15px;
                cursor: pointer;
            }
            .type{
                margin-top:35px;
                margin-left:50px;
                font-size:12px;
                position: relative;
                &:hover .hidden{
                    display: block;
                }
                .title{
                    cursor: pointer;
                    width:70px;
                    height:25px;
                    line-height: 25px;
                    border:1px solid #ccc;
                    padding:0 8px;
                    background:#fff;
                    position: relative;
                    &:hover{
                        color:#f30213;
                        height:26px;
                        z-index:15;
                        border-bottom: none;
                    };
                   
                    
                }
                .hidden{
                    width:140px;
                    height:445px;
                    padding:15px 28px 0 12px;
                    z-index:10;
                    position: absolute;
                    top:25px;
                    left:0;
                    border:1px solid #ccc;
                    color:#666;
                    display: none;
                    background:#fff;
                }
            }
            
        }
        .logoLeft{
            height:100%;
            width:680px;
            float:left;
            overflow: hidden;
            .headSearch{
                width:710px;
                height:75px;
                padding:25px 30px 0 60px;
                position: relative;
                .search{
                    float:left;
                    width:590px;
                    height:33px;
                    b{
                        display:inline-block;
                        height:35px;
                        width:auto;
                        font-weight: normal;
                        color:#fff;
                        text-align:center;
                        line-height:35px;
                        cursor: pointer;
                        font-size:14px;
                        padding:0 8px;
                        &:nth-child(2){
                            background:#B61D1D
                        }
                        &:nth-child(3){
                            background:#474e5c
                        }
                    }
                }
                input{
                    height:21px;
                    width: 420px;
                    display:block;
                    float:left;
                    outline:none;
                    border:none;
                    padding:5px 15px;
                    border:2px solid #c81623;
                }
            }
        }

        .logoRight{
            height:100px;
            width:190px;
            float:left;
            padding:25px 0;
            .myCar{
                float:right;
                border:1px solid #eee;
                width:135px;
                height:35px;
                display:flex;
                justify-content:center;
                line-height:35px;
                color:rgb(224, 40, 40);
                font-size:12px;
                cursor: pointer;
                &:hover{
                    border-color: #e1251b;
                }
            }
        }
        .searchList{
            position:absolute;
            bottom:0;
            left:60px;
           height:30px;
        }
        .searchList li{
            float:left;
            font-size:12px;
            margin-right: 10px;
        }
        
    }
}

// content start

.content{
    height:800px;
    .nav{
        width:100%;
        height:40px;
        background:#f2f2f2;
        font-size: 12px;
        line-height:40px;
        .title{
            height:40px;
            width:320px;
            float:left;
            color:#666;
        }
        .store{
            height:40px;
            width:330px;
            float:right;
            position: relative;
            &:hover .storeHidden{
                display:block;
            }
            
            .storeName{
                width:70px;
                height:40px;
                float:left;
                margin-left:5px;
                a{
                    color:#666;
                    &:hover{
                        color:#f30213;
                    }
                }
            }
            .server{
                width:85px;
                height:12px;
                padding:14px 5px ;
                float:left;
                margin-left:5px;
                .starGray{
                    width:82px;
                    height:14px;
                    border-radius: 7px;
                    background:url('../imgs/star-gray.png') repeat;
                    .starRed{
                        height:14px;
                        width:48px;
                        border-radius: 7px;
                        background:url('../imgs/star-light.png') repeat;
                    }
                }
               
            }
            .waiter{
                width:70px;
                height:40px;
                float:left;
                margin-left:5px;
                &:hover{
                    color:#f30213;
                }
                i{
                    display:inline-block;
                    height:15px;
                    width:18px;
                    margin-right:4px;
                    vertical-align: middle;
                    background-image:url('../imgs/icon_detail.png');
                    background-position:-33px -16px;
                }
            }
            .focus{
                width:70px;
                height:40px;
                float:left;
                margin-left:5px;
                &:hover{
                    color:#f30213;
                }
                i{
                    display:inline-block;
                    height:15px;
                    width:17px;
                    margin-right:5px;
                    vertical-align: middle;
                    background-image:url('../imgs/icon_detail.png');
                    background-position:-33px 0 ;
                }
               
            }
            .storeHidden{
                display:none;
                width:220px;
                height:380px;
                z-index:10;
                position: absolute;
                left:114px;
                top:40px;
                border:1px solid #ccc;
                .hiddenTop{
                    height:328px;
                    padding:15px 10px 0 10px;
                    background:#fff;
                    .mark{
                        height:100px;
                        h4{
                            height:30px;
                            font-size:14px;
                            color:#666;
                            font-weight:700;
                        }
                        li{
                            height:25px;
                            line-height:25px;
                            font-size:12px;
                            color:#999;
                            span{
                                color:#3b4;
                            }
                        }
                    }
                    .waiterNum{
                        height:58px;
                        border-top:1px dotted #e6e6e6;
                        border-bottom:1px dotted #e6e6e6;
                        h5{
                            height:20px;
                            font-size:12px;
                            color:#666;
                            font-weight:normal;
                        }
                        i{
                            display:inline-block;
                            height:15px;
                            width:18px;
                            margin-right:4px;
                            vertical-align: middle;
                            background-image:url('../imgs/icon_detail.png');
                            background-position:-33px -16px;
                        }
                        
                    }
                    .code{
                        height:165px;
                        img{
                            margin:15px 40px 0 40px;
                        }
                        p{
                            text-align: center;
                            height:30px;
                            margin-top:-22px;
                        }
                    }
                }
                .hiddenBottom{
                    height:35px;
                    background:#f6f6f6;
                    text-align: center;
                    .home{
                        height:35px;
                        float:left;
                        width:110px;
                        i{
                            display:inline-block;
                            height:16px;
                            width:17px;
                            margin-right:5px;
                            vertical-align: middle;
                            background-image:url('../imgs/icon_detail.png');
                            background-position:-16px -18px ;
                        }
                    }
                    .star{
                        height:35px;
                        float:left;
                        width:110px;
                        i{
                            display:inline-block;
                            height:15px;
                            width:17px;
                            margin-right:5px;
                            vertical-align: middle;
                            background-image:url('../imgs/icon_detail.png');
                            background-position:-33px 0 ;
                        }
                    }
                }
            }

        }
    }
    .product{
        
        margin:10px 0;
        overflow: hidden;
        .promain{
            width:1210px;
        }
        .picture{
            float:left;
            height:460px;
            width:350px;
            .picImg{
                height:350px;
                width:350px;
                border:1px solid #eee;

            }
        }
        .picInformation{
            margin:0 24px 0 30px;
            float:left;
            height:590px;
            width:590px;
            font-size:12px;
            color:#999;
            h2{
                font-size:16px;
                color:#666;
                padding:10px 0;
                line-height:24px;
            }
            .price{
                height:40px;
                width:565px;
                background:#f3f3f3;
                padding:0px 15px 0 10px;
                .priceLeft{
                    width:500px;
                    float:left;
                    line-height:36px;
                    span{
                        display:inline-block;
                    }
                    span:nth-child(1){
                        margin-right:10px;
                    }
                    span:nth-child(2){
                        color:#e4393c;
                        font-size:16px;
                    }
                    span:nth-child(3){
                        color:#e4393c;
                        font-size:22px;
                    }
                    span:nth-child(4){
                        margin-left:10px;
                        a{
                            color:#005aa0;
                        }

                    }
                }
                .priceRight{
                    border-left:solid 1px #e6e6e6;
                    margin-top:8px;
                    padding-left:5px;
                    width:59px;
                    float:left;
                    text-align: center;
                    height:30px;
                    span{
                        
                        font-size:14px;
                        a{
                            color:#005ea7;
                        }
                    }
                }
            }
            // 配送地址
            .address{
                height:60px;
                width:590px;
                padding-top:5px;
                .addressLeft{
                    width:70px;
                    height:100%;
                    float:left;
                    text-align:center;
                    
                }
                .addressRight{
                    height:100%;
                    width:520px;
                    float:left;
                    .location{
                        float:left;
                        border:1px solid #ccc;
                        i{
                            display:inline-block;
                            width:17px;
                            height:17px;
                            background-image:url('../imgs/6279bb.png');
                            background-position: 0 8px ;
                            margin-left:4px;
                        }
                    }
                    .information{
                        float:left;
                        margin-top:3px;
                        margin-left:5px;
                    }
                    p{
                        width:400px;
                        margin-top:30px;
                    }
                }
            }
            
            // 选择颜色/白条分期
            .chioce{
                height:193px;
                width:590px;
                background:#fff;
                border-top:1px dotted #dfdfdf;
                border-bottom:1px dotted #dfdfdf;
                
                .color{
                    height:95px;
                    padding-top:15px;
                    
                }
                .white{
                    height:83px;
                    
                    .colorRight{
                        width:400px;
                        padding:10px 90px 0 0 ;
                        height:73px;
                        li{
                            height:30px;
                            background:#fff;
                            padding:0 10px ;
                            .colorTitle{
                                height:30px;
                                line-height:30px;
                            }
                        }
                    }
                    
                }
                .colorLeft{
                    height:100%;
                    width:70px;
                    float:left;
                    line-height:60px;
                    text-align: center;
                }
                .colorRight{
                    height:100%;
                    width:520px;
                    float:left;
                    li{
                        float:left;
                        height:43px;
                        border:1px solid #ccc;
                        background:#f7f7f7;
                        margin-right:7px;
                        margin-bottom:4px;
                        padding-right:8px;
                        cursor: pointer;
                        &:hover{
                            border-color:#e3393c
                        }
                        img{
                            height:43px;
                            width:43px;
                            float:left;
                        }
                        .colorTitle{
                            float:left;
                            text-align: center;
                            line-height:43px;
                            color:#666;
                        }
                    }
                }
            }
            // 添加购物车
            .add{
                height:45px;
                width:590px;
                margin-top:20px;
                margin-left:10px;
                .num{
                    width:60px;
                    height:45px;
                    float:left;
                    border:1px solid #ccc;
                    color:#666;
                    text-align: center;
                    
                    .number{
                        width:43px;
                        height:45px;
                        border-right:1px solid #ccc;
                        float:left;
                        line-height:45px;
                        input{
                            box-sizing: border-box;
                            width:100%;
                            height:100%;
                            padding:15px;
                            outline: none;
                            border:none;
                        }
                    }
                    .plus{
                        width:16px;
                        height:21px;
                        border-bottom:1px solid #ccc;
                        float:left;
                        background:#f1f1f1;
                        line-height:21px;
                        cursor: pointer;
                    }
                    .cut{
                        width:16px;
                        height:22px;
                        border-bottom:1px solid #ccc;
                        float:left;
                        background:#f1f1f1;
                        text-align: center;
                        line-height:21px;
                        cursor: pointer;
                    }
                }
                .addCar{
                    width:145px;
                    height:45px;
                    background:#df3033;
                    
                    font-size:20px;
                    font-weight: bolder;
                    float:left;
                    margin-left:10px;
                    line-height:45px;
                    text-align:center;
                    a{
                        color:#fff;
                    }
                }
            }
            .tips{
                margin-top:20px;
                margin-left:10px;
            }
            
           
        }

        // 右侧轮播图
        .look{
            float:left;
            height:658px;
            width:150px;
            padding:0 30px;
            position: relative;
            .title{
                font-size:12px;
                margin-bottom: 10px;
                margin-top: 10px;
                text-align: center;
            }
            .swiper-container{
                height:600px;
                
            }
            .swiper-button-prev{
                position:absolute;
                top:650px;
                left:65px;
                transform:rotate(90deg) scale(0.7);
                color:#ccc;
                outline:none;
            }
            .swiper-button-next{
                position:absolute;
                top:650px;
                left:115px;
                transform:rotate(90deg) scale(0.7);
                color:#ccc;
                outline:none;
            }
            li{
                height:200px;
                width:150px;
                img{
                    height:150px;
                    width:150px;
                }
                p{
                    text-overflow: ellipsis;
                    height:19px;
                    width:150px;
                    color:#666;
                    overflow: hidden;
                    font-size:12px;
                }
                .price{
                    line-height: 18px;
                    color: #c81623;
                    text-align: center;
                }
            }
        }
    }
}
