*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.footer{
    height:550px;
    background:#eaeaea;
    width:100%;
    .foTop{
        height:100px;
        .server{
            height:42px;
            padding:30px 0 30px 110px;
            
            li{
                float:left;
                width:224px;
                height:42px;
                text-align: center;
                line-height:42px;
                font-size:18px;
                position: relative;
                margin:0 10px;
                i{
                    display:inline-block;
                    position: absolute;
                    top:0;
                    left:0px;
                    width:36px;
                    height:42px;
                    background-image:url('../imgs/service.png') ;
                    background-position: 0 0;
                    
                }
                &:nth-child(1)  i{
                    background-position: 0 0;
                }
                &:nth-child(2) i{
                    background-position: 0 -42px;
                }
                &:nth-child(3) i{
                    background-position: 0 -85px;
                }
                &:nth-child(4) i{
                    background-position: 0 -128px;
                }
                span{
                    position: absolute;
                    top:0;
                    left:60px;
                }
            }
        }
    }
    .foCenter{
        height:200px;
        border-top:1px solid  #dedede;
        border-bottom:1px solid  #dedede;
        
        .all{
            font-size:14px;
            .warp{
                padding:30px 0 30px 110px;
                height:140px;
                .list1{
                    width:216px;
                    height:200px;
                    float:left;
                    color:#666;
                    h2{
                        font-size:16px;
                        font-weight:bolder;
                    }
                    li{
                        margin:3px 0;
                    }
        
                }
            }
        }
    }
    .foBottom{
        height:250px;
        .warp{
            padding:10px 0;
            text-align: center;
            .connect{
                margin-bottom:15px;
                height:30px;
                color:#666;
                font-size:14px;
            }
            p{
                color:#999;
                font-size:12px;
                line-height: 22px;
            }
            .icon{
                height:32px;
                width:700px;
                padding:9px 0;
                margin:0 auto;
                i{
                    display:inline-block;
                    width:103px;
                    height:32px;
                    margin-right:15px;
                    background-image:url('../imgs/new_footer.png');
                    &:nth-child(1){
                        background-position:-105px -1px ;
                    }
                    &:nth-child(2){
                        background-position:0px -33px ;
                    }
                    &:nth-child(3){
                        background-position:-105px -33px ;
                    }
                    &:nth-child(4){
                        background-position:0px -66px ;
                    }
                    &:nth-child(5){
                        background-position:-105px -66px ;
                    }
                }
            }
        }
    }
}